
*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: #F7CD75;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    overflow-x: hidden;
}

h1{
   color: #4C4C4C ;
   font-size: 27px;
   text-align: center;
}
.checkbox{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.wallet{ 

    flex-direction: row;
    width: 300px;
    height: 450px;
    padding: 30px;
    background-color: #F0F0F0;
    overflow: hidden;
    overflow-y: scroll;
}
.card{
    border: solid 1px #72799C;
    width: 220px;
    padding: 5px  10px;
    border-radius: 10px;
    background-color: #FFF; 
}
.card:not(:first-child){
    margin-top: 20px;

}
.card:hover{
    box-shadow: 0px 0px 2px 2px  #878DAA;
}
.card__number{
    
    color: #4C4C4C;
}
.card__date{
    color: #4C4C4C;
}

.wallet::-webkit-scrollbar{
    width: 8px;
}
.wallet::-webkit-scrollbar-thumb{
    background-color: #F0F0F0;
    border-radius: 8px;
}
.wallet::-webkit-scrollbar-track{
    background-color: #F0F0F0;
}
.wallet::-webkit-scrollbar-thumb:hover{
    background-color: #6F6F6F;
}



/* .checkbox :checked + .Balance__item .item--price :hover{
    color: #1D1D1D;
    color:  #83B166;
} */



.Balance{
    width: 500px;
    background-color: #fff;
    padding: 20px;
    height: 450px;
    overflow: hidden;
    overflow-y: scroll;
 
}
.Balane__title--warpper{
    display: flex;
    align-items: center;
}
.all--price{
    font-size: 32px;
    margin-left: auto;
    font-weight: bold;
}
.line{
    width: 450px;
}


.Balance__list{
    position: relative;
    
}
.Balance__item::before{
    content: "";
    width: 25px;
    height: 25px;
    background-color: #fff ;
    border-radius: 50px;
    border: 1px solid #DEDEDE;
    position: absolute;
    left: -2px;
    background-image: url("/img/minus.svg");
    background-position: center;
    
}
.Balance__item:hover::before{
  
    background-image: url("/img/plus.svg");
   
}


.Balance__item{
    display: flex;
    padding-top: 30px;
    align-items: center;
}
.item--title{
    padding: 0;
    margin: 0;

}
.item--text{
    color:#C5C5C5 ;
    font-size: 12px;
    font-weight: medium;

}
.item--price{
    color: #8797C6;
    margin-left: auto;
    font-weight: bold;
}
.item--price:hover{
    color: #83B166;
    
}
.Balance::-webkit-scrollbar{
    width: 8px;
}
.Balance::-webkit-scrollbar-thumb{
    background-color: #FFF;
    border-radius: 8px;
}
.Balance::-webkit-scrollbar-track{
    background-color: #fff;
}
.Balance::-webkit-scrollbar-thumb:hover{
    background-color: #6F6F6F;
}
